.card-1 {
  border-top: 5px solid #ff4f64;
  background-color: #ffffff;
  padding: 24px;
  margin-bottom: 32px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.card-2 {
  border-top: 5px solid #00a8e7;
  background-color: #ffffff;
  padding: 24px;
  margin-bottom: 32px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.card-3 {
  display: flex;
  flex-direction: column;
  border-top: 5px solid #44c4a1;
  background-color: #ffffff;
  padding: 24px;
  margin-bottom: 32px;
  border-radius: 12px;
}

.card-4 {
  border-top: 5px solid #fcc200;
  background-color: #ffffff;
  padding: 24px;
  margin-bottom: 32px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

/* Write CSS code here. */

.card-heading {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
}
.card-description {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  color: #64748b;
}
.image-elem {
  height: 64px;
  width: 64px;
  align-self: flex-end;
}
