* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write CSS code here */
.bg-container {
  background-color: #f4faff;
  padding: 24px;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  color: #64748b;
  text-align: center;
  font-size: 16px;
  font-family: 500;
  margin: 32px;
}
